
body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #af0563;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(216, 201, 201);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #0f046e;
}

img {
    width: 350px;
    height: 200px;
    border-radius: 40%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d1c7c7;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px ;
    background-color: rgb(153, 9, 9);
    color: rgb(247, 243, 243);
    
  }
  
